# Ejercicio 3

- Create a new column called "TA_DIC_ratio" that is the ratio of TA to DIC
- Calculate the mean and standard deviation of the "TA_DIC_ratio" for each season
- Calculate the mean and standard deviation of the "TA_DIC_ratio" for each season and area
- Save the results to an Excel file called "TA_DIC_Season_Areas.xlsx"

In [9]:
def import_csv(file):
    # Read the file into a DataFrame: df
    import pandas as pd
    return pd.read_csv(file)

In [11]:
# Import the file
df = import_csv("Terminos_lagoon_TA_DIC_2023_RawData.csv")

In [12]:
print(df.columns)

Index(['sample', 'date', 'estuary', 'area', 'station', 'layer_depth', 'season',
       'chlorophy_microg_l', 'cond_microsiemens_cm', 'depth_m',
       'do_percent_sat', 'do_mg_l', 'sal_psu', 'sp_cond_microsiemens_cm',
       'turbidity_fnu', 'temp_c', 'latitude', 'longitude', 'dic_micromol_kg',
       'ta_micromol_kg', 'dummy_data'],
      dtype='object')

In [41]:
ta= df['ta_micromol_kg']
dic = df['dic_micromol_kg']
season = df['season']
area = df['area']

In [33]:
# Creamos una nueva columna llamada "TA_DIC_ratio" que es la razon de TA a DIC
df['TA_DIC_ratio'] = ta / dic
ta_dic_ratio = df['TA_DIC_ratio']

In [42]:
# Calculamos la media y desviacion estandar de "TA_DIC_ratio" para cada temporada
season_stats = df.groupby('season')['TA_DIC_ratio'].agg(['mean', 'std']).reset_index()
season_stats

  season      mean       std
0    Dry  1.058558  0.086111
1  Rainy  1.022350  0.100924

In [43]:
# Calculamos la media y desviacion estandar de "TA_DIC_ratio" para cada temporada y area
area_season_stats = df.groupby(['season', 'area'])['TA_DIC_ratio'].agg(['mean', 'std']).reset_index()
area_season_stats

  season   area      mean       std
0    Dry  Coast  1.115766  0.115033
1    Dry  Plume  1.059687  0.035574
2    Dry  River  1.000221  0.037747
3  Rainy  Coast  1.090127  0.129658
4  Rainy  Plume  1.025544  0.049222
5  Rainy  River  0.945217  0.025084

In [45]:
# Guardamos los resultados en un archivo Excel llamado "TA_DIC_Season_Areas.xlsx"
Ejercicios = "TA_DIC_Season_Areas.xlsx"
import pandas as pd
with pd.ExcelWriter(Ejercicios) as writer:
    ta_dic_ratio.to_excel(writer, sheet_name='TA_DIC Ratio', index=False)
    season_stats.to_excel(writer, sheet_name='Season Stats', index=False)
    area_season_stats.to_excel(writer, sheet_name='Area and Season Stats', index=False)